<h1> List of all recipes </h1>

<div id="recipe-list">
  <ul>
  <% @recipes.each do |recipe| %>
    <li><h2><a href="/recipes/<%=#{recipe.id}%>"><%= recipe.name %><a></h2></li>
  <% end %>
  </ul>
</div>
